@font-face{font-family:'Inter';font-weight:500;src:url(Inter-500.woff2) format('woff2');}
@font-face{font-family:'Inter';font-weight:700;src:url(Inter-700.woff2) format('woff2');}
@font-face{font-family:'Poppins';font-weight:800;src:url(Poppins-800.woff2) format('woff2');}
@font-face{font-family:'Poppins';font-weight:900;src:url(Poppins-900.woff2) format('woff2');}
